body{
    background-color: rgb(236, 240, 241);
}
#work, #diplome{
    margin-left: 5%;
    float: left;
    position: relative;
    display: inline;
    margin-top: 3%;
}
#menu{
    margin-left: 27%;
    position: absolute;
    
}